html, body {
    height: 100%;
}

#main {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

#content {
    width: 100%;
    overflow-y: scroll;
    /* padding: 1em; */
    margin: 1em;
}

#container {
    width: 100%;
}

canvas {
    display: block;
}